@media (max-width: 850px) {
  .header {
    margin-left: 191px;
    display: flex;
    flex-direction: column;
  
    ul {
      margin-right: 10%;
    }
  
    h1 {
      flex-grow: 1;
      margin: 0;
      width: 191px;
      height: 59px;
      left: 259px;
      top: 64px;
  
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 59px;
      /* identical to box height */
      color: #000000;
    };
  
    li {
      display: inline-block;
      padding: 20px;
      position: relative;
    }
  }
}

.header {
  margin-left: 191px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  ul {
    margin-right: 10%;
  }

  h1 {
    flex-grow: 1;
    margin: 0;
    width: 191px;
    height: 59px;
    left: 259px;
    top: 64px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */


    color: #000000;
  };

  li {
    display: inline-block;
    padding: 20px;
    position: relative;
  }
}