$img-width: 700px;
$background-body: #FFF4EE;
$background-navbar: #FFE4D6;
$selected-link-color: #6749A5;
$default-link-color: #CBB1A2;

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: $background-body;
  min-width: 610px;
}

img {
  width: 350px;
  border-radius: 10px;
  margin-left: 50px;
}

@media (min-width: 1015px) {
  img {
    width: $img-width;
    border-radius: 15px;
    margin-bottom: 5px;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  };
}

.selected {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  a {
    color: $selected-link-color;
    text-decoration: underline;
  }
}

.link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  a {
    color: $default-link-color;
  }
}

.body {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.vertical-navbar {
  left: 0;
  position: absolute;
  width: 160px;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 999;

  background: $background-navbar;
  border-radius: 24px 0px 0px 0px;
  ul {
    li {
      margin-top: 40%;
    }
  }
}

#container {
  position: relative;
  height: 100vh;
}

h2 {
  display: flex;
  justify-content: center;
}